USE [master]
GO
/****** Object:  Database [usersBD_MARKOV]    Script Date: 19.11.2022 10:29:05 ******/
CREATE DATABASE [usersBD_MARKOV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'usersBD_MARKOV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\usersBD_MARKOV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'usersBD_MARKOV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\usersBD_MARKOV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [usersBD_MARKOV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [usersBD_MARKOV]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.11.2022 10:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NULL,
	[FileName] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[ImageData] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
